  <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Radiant Ginning Mills</h2>
                        <h3>Cotton</h3>
                        <p>Buy, Sell, Process - highest quality cotton with the latest and the most advanced machineries in India...</p>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                        <form action="#" method="post" class="form-inline">
                            <input type="email" class="form-control email" placeholder="name@company.com">
                            <input type="submit" class="submit" value="Enquire Now">
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <%=image_tag("bg-img/welcome-img.png", alt: "")%>
            
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area gradient-bck section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>About Us</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4>Largest Cotton Producer</h4>
                        <p>We are the Largest Producers of Cotton Bales in the Central Region of Tamilnadu comprising - Perambalur, Ariyalur & Trichy.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <h4>World Class Facilities</h4>
                        <p>We have installed the most modern equipments and provide world-class facilities for automated Cotton Processing at all stages.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <h4>Beyond the Best Quality</h4>
                        <p>Our products go through Stringent Quality Checks at various levels to ensure Highest Quality Cotton bales & seeds for our Customers.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                  <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                      <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                    <h4>Over a Decade Experience</h4>
                    <p>Our Team of professionals and experts have range of experiences from fresh minds to more than two decades of experience</p>
                  </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <h4>On Time, Every Time</h4>
                        <p>Being On-Time is a well deserved Commitment. We strive to complete our assignments On Time, Always - irrespective of anything.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <h4>Prime Membership Benefits</h4>
                        <p>Being a Prime member bears lucrative benefits on repeated vists on Cotton Processing & Purchases</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Special Description Area -->
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <%=image_tag("bg-img/main-qimg-cfc66d6cf8c16e0e7aa348ec6cab123c.gif", alt: "")%>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="special_description_content">
                            <h2>Radiant - A Place where Tradition meets Technology</h2>
                            <p>
                                Radiant Ginning Mills is one of the largest producers of Raw Cotton bales in the prime
                              Cotton growing region of India - the Central TamilNadu (i.e. Perambalur, Ariyalur & Trichy)
                              with the most modern Equipments & Technologies without losing the freshness of Pure Cotton.
                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <!--<a href="#">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>available on</span> Google Store</p>
                                    </a>-->
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                    <!-- Apple Store Btn -->
                                    <!--<a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>available on</span> Apple Store</p>
                                    </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2>Why Radiant Ginning Mills?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h5>Care & Respect</h5>
                        <p>We respect your business' - Time & Value - and hence take utmost care in processing your materials with utmost care & precautions...</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <h5>Integrity</h5>
                        <p>We always do what is best for our Customers - Without affecting our business and core values, consistently...</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <h5>Buy, Sell, Process - Anything</h5>
                        <p>Want to buy Cotton ? Want to Sell Cotton ? Just need to process your Cotton ? We are always open (24x7)...</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <h5>Two-Factor Authentication</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        <h5>100% Satisfaction Guarantee</h5>
                        <p>We strive for the complete Satisfaction of all our Valuable Clients</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h5>24/7 Support</h5>
                        <p>Our Customers can reach out to us - Any Time, Any Day, All round the Year </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->

    <!-- ***** Video Area Start ***** -->
    <div class="video-section ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Video Area Start -->
                    <div class="video-area video-background">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=2dDmxmoZ-yU" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Video Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3><span class="counter">384</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-download"></i>
                            <p>TOTAL <br> CUSTOMERS</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3><span class="counter">381</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-smile-o"></i>
                            <p>REPEAT <br> CUSTOMERS</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3><span class="counter">236</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-users"></i>
                            <p>ACTIVE <br>CUSTOMERS</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">9.7</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-star"></i>
                            <p>SATISFACTION <br>RATING</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->

    <!-- ***** App Screenshots Area Start ***** -->
    <section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Factory in Pictures</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- App Screenshots Slides  -->
                    <div class="app_screenshots_slides owl-carousel">
                        <!--<div class="single-shot">
                            <%#=image_tag("scr-img/1.jpg", alt: "")%>
                        </div>-->
                        <div class="single-shot">
                            <%=image_tag("scr-img/2.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/3.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/4.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/5.jpg", alt: "")%>
                        </div>
						            <div class="single-shot">
                            <%=image_tag("scr-img/6.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/7.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/8.jpg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/9.jpeg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/10.jpeg", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/11.jpeg", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** App Screenshots Area End *****====== -->

    <!-- ***** Pricing Plane Area Start *****==== -->
    <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text  -->
                    <div class="section-heading text-center">
                        <h2>Pricing Plan</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-3">
                    
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>Basic Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                
                                <h4>FREE</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>30 Transactions / Month</p>
                            <p>Payment Tools</p>
                            <p>Shopping Cart Plugins</p>
                            <p>API, Libraries, & SDKs</p>
							<p>Payment & Refund Management</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Package Price  -->
                    <div class="single-price-plan active text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>Business Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                               <span>$</span>
                                <h4>200</h4>
								 
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Unlimited Transactions</p>
                            <p>Payment Tools</p>
                            <p>Shopping Cart Plugins</p>
                            <p>API, Libraries, & SDKs</p>
							<p>Payment & Refund Management</p>
							<p>CSV Ledger Download</p>
							<p>Priority Support</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plane Area End ***** -->

    <!-- ***** Client Feedback Area Start ***** -->
    <section class="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
			
                <div class="col-12 col-md-10">
                    <div class="slider slider-for">
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“Excellent Service, On time delivery. Would love to associate again.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Mohideen Sardar</h5>
                                <p>Senior MTS, Oracle, Bengaluru</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“One of the fastest processing facility in Tamilnadu. Really high quality pressing & Packing.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Syed Abdul Kader</h5>
                                <p>Developer, IBM</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“Good processing facility and friendly team of professionals who complete the work on time, without any delay or lack of quality. Fully Satisfied.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Tausif Rahmathullah</h5>
                                <p>Vice President, Value Labs Inc.,</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“I have been a customer for a number of years. I always prefer Radiant Ginning mill for their Quality processing and On-Time delivery.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Mohamed Haleem</h5>
                                <p>Software Engineer, Google</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Client Thumbnail Area -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="slider slider-nav">
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-1.jpg", alt: "")%>
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-2.jpg", alt: "")%>
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-3.jpg", alt: "")%>
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-4.jpg", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Client Feedback Area End ***** -->

    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership  section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Join our Prime Membership Plan</h2>
                        <p>Our Prime Members get upto 50% discount on the overall Cotton Processing Charges.<br>Please join our Prime program to save more...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                        <a href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="investors" hidden>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Investors</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-1.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Mohideen Sardar</h4>
                            <p>Senior MTS, Oracle, Bengaluru</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-2.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Abdur Rafeeq</h4>
                            <p>QA Lead, Quantiphi Inc, Greater Hartford</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-3.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Mohamed Haleem</h4>
                            <p>Software Engineer, Google, Bengaluru</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-4.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Tausif Rahmathullah</h4>
                            <p>Vice President, Value Labs, New York</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Contact us!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>Get answers to all your queries about Cotton Purchase, Cotton Sales & Cotton Processing - Any time</p>
                    </div>
                    <div class="address-text">
                        <p><span>Address:</span> 13/8 Perambalur, Tamilnadu, India</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Phone:</span> +91-63690 17503</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> radiantginning@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->